html {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(1, 1, 71);
    background-color: #C1D3F5;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}

a {
    display: inline-block;
    text-decoration: none;
    color: rgb(1, 1, 62);
    font-weight: 600;
    font-size: 26px;
    padding: 3px 5px;
    font-weight: bold;
}

.hero-wrapper {
    display:flex;
    height: 100vh;
}

.hero-image {
    /* https://www.w3schools.com/cssref/tryit.php?filename=trycss3_background_hero */
    background-image: url("docs/assets/images/homepage.jpg");
    /* background-image: url("docs/assets/images/Snap convo.png"); */
    background-color: #cccccc;
    background-position: center;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Navbar */
.nav {
    display: flex;
    justify-content: baseline;
    padding: 20px;
    padding-right: 0px;
}
/* .nav:hover {
    transition: all 0.5s ease-in-out;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0,1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    border-radius: 0px 0px 20px 20px;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.17);
} */

.nav-title {
    padding: 10px;
    font-size: 2.5em;
    margin-left: 20px;
}

.navbar {
    margin-left:auto;
    margin-right: 10px;
}

.link {
    border-radius: 5px;
    margin: 6px;
}
.link:hover {
    margin: 6px;
    transition: all 0.4s ease-in-out;
    color:antiquewhite;
    background-color: rgb(1, 1, 62);
    /* border: rgb(1, 1, 62) 1px solid; */
    /* border-radius: 5px; */
}

/* Main Content */
.hero-content {
    margin: 0 calc(100vh * 0.14);
}

.big-words {
    color: #DCBC06;
    font-size: 95px;
    width: 45%;
    margin-bottom: 1px;
    /* glassy effect - https://www.youtube.com/watch?v=3HRvb2tLqF4*/
    background: linear-gradient(135deg, rgba(255, 255, 255, 0,1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 10px;
    /* border: 1px solid rgba(255, 255, 255, 0.18); */
    /* box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.17); */
}

.word {
    line-height: 122px;
}
.word:hover {
    cursor: pointer;
    width: 110%;
    transition: all 0.5s ease-in-out;
    font-size: 105px;
    color:rgb(1, 1, 62);
}

.blog-link {
    margin-top: 10px;
}

.blog-link:hover {
    transition: all 0.25s ease-in-out;
    color:antiquewhite;
    border: rgb(1, 1, 62) 1px solid;
    border-radius: 5px;
    background-color: rgb(1, 1, 62);
}

/* Side Menu */
.side-menu-toggle {
    display: inline-grid;
    flex-shrink: 0;
    height: 60px;
    width: 50px;
    place-items: center;
    padding: 10px;
    font-style: bold;

    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
    background: none;
    cursor: pointer;
}

.side-menu-toggle:hover {
    transition: all 0.4s ease-in-out;
    color:antiquewhite;
    background-color: rgb(1, 1, 62);
}

.hero-image {
    flex-grow: 1;
}
.hero-content {
    flex-grow: 1;
}

.side-menu {
    display:none;
    width:100px;
    flex-shrink: 0;
    padding: 20px;
    color:antiquewhite;
    background-color: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}

.photo-box {
    position: relative;
    /* float:left; */
    text-align: center;
    margin: auto;
}
.headshot {
    width: 260px;
    border-radius: 5px;
}
.bw-headshot {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}
.photo-box:hover .headshot {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}
.photo-box:hover .bw-headshot {
    display: initial;
    position: relative;
    width: 260px;
    border-radius: 5px;
}

.side-menu-nav {
    width:100%;
    text-align: center;
    margin-bottom: auto;
}

.side-menu-link {
    width:100%;
    background-color:antiquewhite;
    border-radius: 5px;
    padding: 5px;
    margin: 3px;
}
.side-menu-link:hover {
    background-color: rgba(250,235,215,0.85);
    box-shadow: 3px 3px 5px rgb(40, 40, 148, 0.4);
}


.side-menu-open .side-menu {
    display: initial;
    transition: all 0.5s ease-in-out;
    width:300px;
    background-color: rgb(1, 1, 62);
    height: 100vh;
}

.side-menu-open .side-menu-toggle {
    color:antiquewhite;
    background-color: rgb(1, 1, 62);
}

.side-menu-open .big-words {
    width: 60%;
}


/* SO HERE IS THE BLOG FORMATTING */
.blog-wrapper, .wrapper {
    display:flex;
    height: 100vh;
}
.blog-main, .project-main {
    flex-grow: 1;
    overflow-y: scroll;
    scrollbar-width: none;
}
/* .blog-nav {
    background-color: rgb(1, 1, 62);
    color: antiquewhite;
    box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.17);
} */
.blog-content, .project-content {
    width: 60%;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    display: grid;
    padding-bottom: 15px;
}

.date-tags {
    display: flex;
    justify-content: space-evenly, left;
    text-align: left;
    align-items: baseline;
}
.date {
    display: inline;
    margin-right: auto;
}
.tag {
    display: inline;
    margin: 5px 5px;
    padding:2px 2px;
    border: rgb(1, 1, 62) 2px solid;
    border-radius: 5px;

}
.blog-post-body, .project-body {
    font-size: 20px;
}
#myBtn {
    font-size: 20px;
    text-align: center;
    justify-self:center;
    margin-left: auto;
    margin-right: auto;
    color:antiquewhite;
    border: rgb(1, 1, 62) 1px solid;
    border-radius: 5px;
    background-color: rgb(1, 1, 62);
    cursor: pointer;
}

.post-signature{
    text-align: end;
    margin: 5px 20px;
}