.nav-bar {
    padding: 24px;
    display: flex;
}

.site-title {
    display: inline-block;
    font-size: 24px;
    font-weight: 800;
    text-transform: uppercase;
    color: black;
}

.right-wrapper {
    display: inline-block;
    justify-self: right;
    margin-left: auto; 
    margin-right: 0;
}

.link {
    display: inline-block;
}